@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Urbanist',sans-serif ;
}
html{
    font-size: 62.5;

}
h2{
    font-family: 'Lexend Deca', sans-serif;
}
p{
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
}
button,input[type="Submit"]
{
    border: 0.1rem solid #fff;
    outline: none;
    padding: .6rem 1.2rem;
    font-size: 1rem;
    text-transform: capitalize;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}
.hello{
    height: 180vh;
    background-image: url(nature.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    
    height: 10vh;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.logo{
    margin-top: 10rem;
    font-size: 2.4rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
ul{
    
    margin-left: 50rem;
    font-size: 1rem;
    display: flex;
    list-style: none;
    font-weight: 600;
    gap: 2rem;
   



}
.link{
    text-align: center;
    margin-top: 40px;
    width: 90px;
    margin-left: 20px;
    
}
li>a{
    color: black;
    text-decoration: none;


}
main{
    height: 50vh;
    margin-top: 2rem;
    min-height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
}
.registration-form{
    min-height: 80vh;
    
}
.registration-form>h2{
    margin-bottom: 40px;
    font-size: 4rem;

}
.social-icons{
    display: flex;
    gap: 1.6rem;
    margin: 1rem 0 0.6rem 0;
    

}
.fa-brands{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.1rem solid black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}
.registration-form>p{
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 600;
}
input{
    width: 15rem;
    margin-top: 1rem;
    letter-spacing: 0.08rem;
    padding: 0.5rem;
    background-color: #e8e8e8
    

}
input[type="submit"]
{
    margin-top: 3rem;
    min-width: 10px;
    background-color: var(--var--primary-color);
    color:#fff;

}